<nav class="navbar py-4">
  <div class="navbar-brand">
    <img src="/images/logo.png" height="60">
  </div>
  <div>
    <a class="btn btn-warning mr-2" href="/account">Profile</a>
    <a class="btn btn-danger mr-2" href="/channels">Channels</a>
    <a class="btn btn-primary" href="/">Logout</a>
  </div>
</nav>
