<%- include('partials/header'); %>

<div id="top" class="profile d-flex flex-column flex-grow-1">
  <nav class="navbar navbar-light bg-dark py-4">
    <a class="navbar-brand" href="#">
      <img src="/images/logo.png" height="60">
    </a>
    <a href="/">
      <button class="btn btn-primary" type="submit">Logout</button>
    </a>
  </nav>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="">

  <div class="sideBar">
    <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="#services"><i class="fa fa-fw fa-wrench"></i> Services</a>
    <a href="#clients"><i class="fa fa-fw fa-user"></i> Clients</a>
    <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
  </div>

</div>


<%- include('partials/footer'); %>