<%- include('partials/header'); %>

<div id="top" class="profile d-flex flex-column flex-grow-1">
    <nav class="navbar navbar-light bg-dark py-4">
      <a class="navbar-brand" href="#">
        <img src="/images/logo.png" height="60">
      </a>
    </nav>


  <div class="chatBar flex-grow-1"></div>
    <H2>hello!</H2>
    
    <div>
      <textarea name="text" form="usrform">Enter text here...</textarea>
    </div>

  </div>

</div>


<%- include('partials/footer'); %>