<%- include('partials/header'); %>
<div id="main" class="login h-100">
    <div class="d-flex align-items-center justify-content-center h-100 text-light">
         <div class="rectangle">
            <h3 class="text-center">Welcome to my Chat App!</h3>
            <div class="loginBar h-100">
                <div class="text-light align-items-left">
                    <h5>Email</h5>
                </div>
                <div class="password">

                </div>
            </div>
         </div>
    </div>
</div>
<%- include('partials/footer'); %>