<%- include('partials/header'); %>
<div id="main" class="login h-100">
    <div class="d-flex align-items-center justify-content-center h-100 text-light">
         <div class="rectangle">
            <h3 class="text-center">Welcome to my Chat App!</h3>
            <div class="loginBar h-100">
                <div class="emailInput text-light align-items-left">
                    <h5>Email</h5>
                    <form>
                        <input type="text" id="login" class="fadeIn second" name="login">
                      </form>
                </div>
                <div class="passInput text-light align-items-left">
                    <h5>Password</h5>
                    <input type="text" id="password" class="fadeIn third" name="login">
                </div>
                <div class="LoginB">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </div>
            </div>
         </div>
    </div>
</div>
<%- include('partials/footer'); %>