<%- include('partials/header'); %>
<div id="main" class="profile">
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand" href="#">
          <img src="/images/TempLogo.jpg" width="30" height="30">
        </a>
      </nav>






<%- include('partials/footer'); %>
