body {
  font: 14px 'Pixel Digivolve';
  background-image: linear-gradient(#0c1247, #dd3e3e);
  background-repeat: no-repeat;
  background-size: cover;
}

.rectangle {
  border-radius: 5px;
  height: 500px;
  background-color: #17192e;
  padding: 30px 50px;
  width: 500px;
  margin: 50px;
}

@media (max-width: 500px) {
  .rectangle {
    margin: 0;
  }
}

.loginBar {
  padding: 100px 0px;

}
/*
.emailInput {
  padding:30px 0px;
  
}
*/
.passInput {
  padding:30px 0px;
  
}

/*
.loginText {
  font: 14px "Century Gothic";
  color: white;
  text-align: center;
}
*/

.profile {
  background-color:rgb(78, 78, 78);
  height: 100%;
}

.profileBox {
  background-color: #121B21;
  padding: 30px 50px;
}  

#output {
  vertical-align: middle;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

#avatar {
  display: none;
}

a i{
  margin-right: 0.4rem;
}
.error404 {
  text-align: center;
}
.error404 h1 {
  width: 100%;
  font-size: 30rem;
  font-weight: bold;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.66);
}
